* {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body {
    background-color: black;
}

#wrapper {
    position: relative;
    /* inline block adjusts to the full width of content i.e. the canvas */
    display: inline-block;
}

h1 {
    align-items: center;
    bottom: 0;
    color: white;
    display: none;
    font-size: 72px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-text-stroke: 3px black;
}
