body {
    background-color: black;
}

#wrapper {
    position: relative;
    /* inline block adjusts to the full width of children i.e. the canvas */
    display: inline-block;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
